body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background: radial-gradient(circle,#007DFF, #007bfb );
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: radial-gradient(circle,#007DFF, #007bfb );
    color: #fff;
}
